.bg{
    background-color:#f2f6ff;
}


.header{
    padding: 16px 78px;
    background-color: #fff;
}

#logo{
    width: 100px;
    margin-right: 5%;
    margin-bottom: 0;
}

#stories
{
    margin-left: 1%;
    margin-top: 0 ;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
    float:left;
    margin: 2%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .image {
    border-radius: 5px 5px 0 0;
    Height: 176px;
    Width: 100%;
  }
  
  .container {
    padding: 2px 16px;
    
  }


  .cardsection{
     margin-left: 10%;
  }

  .heading{
    font-size: 18px;
    margin: 0;
  }

  .Para{
    font-size: 14px;
    color: rgba(0,0,0,.6);
  }

  .lowertitle{
    font-size: 14px;
    margin: 5px 0;
    color: #0096ff;
  }
  th, td {
    border: 1px solid #0084ff;
    border-radius: 15px;
    padding: 6px 14px;
    color: #0084ff;;
  }

  table {
    border-spacing: 20px;
  }

